body {
  margin: 0;
  color: white;
  background-image: url("imagens/Game-Page-Featured_OFF-Inits.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px;
}

.titulo {
  max-width: 30%;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.3));
}

.bigcontainer {
  width: 60%;
  margin: 0 auto; 
  background-color: rgba(51, 51, 51, 0.9);
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative; 
  top: 0;
  left: 0;
  transform: none;
  margin-bottom: 80px;
}

.bigcontainer img {
  max-width: 300px;
}

.maior {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 1));
}

p.maior img {
  vertical-align: middle;
  height: 4em; 
  margin-left: 10px; 
}

p.maior img {
  vertical-align: -10%; 
}

p {
  text-align: justify;
  line-height: 1.5;
}

.menu {
  position: static; 
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
}

.secao-espectro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  margin-top: 60px;
  border-radius: 5px;
}

.img-espectro {
  width: 150px;
  filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.5));
}

.texto-espectro {
  max-width: 500px;
}

.texto-espectro h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px black;
}

.texto-espectro p {
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
}

.bloco-dialogo {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
}

.bloco-dialogo img {
  width: 120px; 
  height: auto;
  flex-shrink: 0; 
}

.bloco-dialogo p {
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
}

.secao-dialogo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 5px;
  margin: 60px auto;
  max-width: 80%;
}

.img-dialogo {
  width: 150px;
  height: auto;
  filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.5));
  flex-shrink: 0;
}

.texto-dialogo {
  max-width: 600px;
}

.texto-dialogo p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
